/* Blog CSS Version 2 */

.blog-list{
	list-style: none;
}
.blog-content{
    margin-top:20px;
    margin-bottom: 20px;
}
.blog-image{
	width: 500px;
	margin: 10px 0px;
}



.secondary{
	background: #222;
	padding-bottom: 20px !important;
	margin-left: 25px;
}

ul.social > li {
	float: left;
	padding-right:10px;
	text-decoration: none;
}
ul.category-list{
	padding: 0px;
}
ul.category-list > li{
	border-bottom: 1px solid #333;
    padding: 7px 0px;
    color: #8f8f91;
    list-style: none;
}
ul.social{
	list-style: none;
	margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    float:left;
    font-size: 21px;
}
.fa{
	font-size: 28px;
	/*color: white;*/
}
a.fa:hover{
	color: #4bedff;
	text-decoration: none;
}
.search{
	width: 92%;
	margin-top:0px;
    padding: 2px 5px;
    background: #ddd;
    border: 1px solid #eee;
    color: #666;
    border-radius: 3px;
    float:left;
}

.searchbox{
	background: #2b2b2b;
    border-bottom: 1px solid #000;
    height: 90px;
    padding-left:20px;
}
.sidebar{
	padding-left:20px;
	padding-right:20px;

}
.sidetitl{
	color:white;
	font-size: 15px;
    text-align: left;
    border-bottom: 1px solid #000;
    box-shadow: 0px 1px 0px 0px #333;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 23px;
    padding-bottom: 10px;
}
.content-desc{
	text-align: justify;
	color: #8f8f91;
}
.blog-image-v2{
	width: 100%;

}	

/* End of Blog Version 2 */